.row-header {
  margin: 0 auto;
  padding: 0px 0px; }

.row-content {
  margin: 0 auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0 auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px; }

/*** For login and reserve modals ***/
.modal-header {
  background-color: #512DA8;
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background-color: #9575CD; }

/*** Login Form ***/
#loginForm {
  width: 50%;
  margin: 5% 0 10% 25%;
  border: 2px solid #dbdbdb;
  border-radius: 5%; }

#loginBtn {
  color: #ffffff; }

#loginBtn:hover {
  cursor: pointer; }

#loginCancelBtn {
  background-color: #bdbdbd; }

#loginBtn, #loginCancelBtn {
  font-size: 1.5em;
  border-radius: 5%; }

/*** Carousel ***/
.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0px;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  margin: 2px;
  z-index: 1; }
